{#{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
{#{{ form_widget(form) }}#}
{#{{ form_end(form) }}#}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12 p-0">
        <div class="contacts1_text">
            <h3 class="contact1h3">Profile</h3>
        </div>
    </div>
    </div>

    {{ form(form) }}



{% endblock %}
