
<div class="col-md-12 pt-4 pb-5">
    <div class="row">
        <div class="col-md-10">
            <div class="contact_formnav">
                <div class="contact_formnav">
                    <nav class="nav">
                        <a class="nav-link active" href="#">Informations</a>
                        <a class="nav-link" href="{{ path('emailTemplateAndPage', {id:operationId}) }}">Paramétrage</a>
                        <a class="nav-link" href="{{ path('sendEmailView', {id:operationId}) }}">Contacts ciblés
                            <span class="enterprise3_form_a"> {{ totalEmails }} </span>
                        </a>
                        <a class="nav-link " href="#">Résultats</a>
                    </nav>
                </div>
            </div>
        </div>
{#        <div class="col-md-2">#}
{#            <div class="enterprise_table_status">CLIENT</div>#}
{#        </div>#}
    </div>
</div>
