{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-12 left_border contact1_background_col9">
    <div class="row">
        <div class="col-md-4 p-0">
            <div class="contacts1_text">
                <h3 class="contact1h3">Entreprises</h3>
            </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-3">
            <div class="contact3_input_container3">
                <input class="contact-input-field3" type="text" placeholder="Rechercher..." name="email">
                <i class="fas fa-search "></i>
            </div>
        </div>
    </div>
    <div class="contact_form ">
        <div class="row justify-content-center ml-0 mr-0 mb-5">
            <div class="col-md-12 ">
                <div class="row rounded border">
                    <div class="col-md-12">
                        <h3 class="contact2_saisieh3 pt-4 ml-5">Saisie d'une nouvelle entreprise</h3>
                    </div>
                    <div class="col-md-12 pt-4 pb-5">
                        <div class="contact_formnav">
                            <nav class="nav">
                                <a class="nav-link active" href="#">Identité</a>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                    <form id="form1" runat="server">
                                        <div class="contact_userimg">
                                            <img  id="blah" src="{{ asset("img/circle.png") }}" alt="your image" />
                                        </div>
                                        <div class="userimg_label2">
                                            <input type="file" name="file-1[]" id="imgInp" class="uploadFile custom-file-input inputfile inputfile-1 " data-multiple-caption="{count} files selected" multiple="">
                                            <label class="userimg_label" for="imgInp"><i class="fas fa-sync"></i> <span>Photo</span></label>
                                        </div>
                                    </form>
                                <script>
                                function readURL(input) {
                                    if (input.files && input.files[0]) {
                                    var reader = new FileReader();

                                    reader.onload = function(e) {
                                    $('#blah').attr('src', e.target.result);
                                    }

                                    reader.readAsDataURL(input.files[0]);
                                    }
                                }
                                $("#imgInp").change(function() {
                                    readURL(this);
                                });
                                </script>
                            </div>
                            <div class="col-md-10">
                                <form>
                                    <div class="row form_client">
                                        <div class="col-md-6">
                                            <div class="row ">
                                                <div class="col-md-5 form_text">
                                                    <p>Compte suivi par</p>
                                                </div>
                                                <div class="col-md-7 input_select_main ">
                                                    <div class="form-group matier_select">
                                                        <select class="custom-select" required>
                                                            <option value="">Olivier SALESSE</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-3 from_single_input">
                                                <div class="col-md-5 form_text">
                                                    <p>Code entreprise</p>
                                                </div>
                                                <div class="col-md-7 input_border_left form-group code_client">
                                                    <input class=" form-control" type="text" placeholder="1254789">
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-5 form_text">
                                                    <p>Nom</p>
                                                </div>
                                                <div class="col-md-7 input_border_left prenom_input form-group ">
                                                    <input class="input_size_big form-control" type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-5 form_text">
                                                    <p>Statut</p>
                                                </div>
                                                <div class="col-md-7 input_border_left input_select_main ">
                                                    <div class="form-group matier_select">
                                                        <select class="custom-select" required>
                                                            <option value="">Piste</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-5 form_text">
                                                    <p>Activité (NAF)</p>
                                                </div>
                                                <div class="col-md-7 input_border_left input_select_main ">
                                                    <div class="form-group matier_select">
                                                        <select class="custom-select" required>
                                                            <option value="">Non précisé</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-5 form_text">
                                                    <p>Statut juridique</p>
                                                </div>
                                                <div class="col-md-7  input_select_main ">
                                                    <div class="form-group matier_select">
                                                        <select class="custom-select" required>
                                                            <option value=""></option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-5 form_text">
                                                <p>N° SIRET</p>
                                                </div>
                                                <div class="col-md-7  prenom_input form-group ">
                                                    <input class="input_size_big form-control" type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-5 form_text">
                                                    <p>Effectifs</p>
                                                </div>
                                                <div class="col-md-7  input_select_main ">
                                                    <div class="form-group matier_select">
                                                        <select class="custom-select" required>
                                                            <option value="">Non précisé</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-5 form_text">
                                                    <p>Chiffre d'affaires (M€)</p>
                                                </div>
                                                <div class="col-md-7  prenom_input form-group "><input class="input_size_big form-control" type="text" placeholder=""></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="row  ">
                                                <div class="col-md-5 form_text">
                                                    <p>E-mail</p>
                                                </div>
                                                <div class="col-md-7 phone_input input-group ">
                                                    <input id="" type="email" class="form-control" name="" placeholder="">
                                                        <span class="input-group-addon contact_checkbox_position">
                                                            <div class="custom-control custom-checkbox ">
                                                                <input type="checkbox" class="custom-control-input" id="customCheck" checked>
                                                                <label class="custom-control-label" for="customCheck"></label>
                                                            </div>
                                                        </span>
                                                </div>
                                            </div>
                                            <div class="row pt-3 ">
                                                <div class="col-md-5 form_text">
                                                    <p>Adresse</p>
                                                </div>
                                                <div class="col-md-7  phone_input input-group ">
                                                    <input id="" type="text" class="form-control" name="" placeholder="">
                                                    <span class="input-group-addon phone_input_position"><i class="fas fa-map-marker-alt"></i></span>
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-5 form_text">
                                                    <p>Complément</p>
                                                </div>
                                                <div class="col-md-7  prenom_input form-group "><input class="input_size_big form-control" type="text" placeholder=""></div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-5 form_text">
                                                    <p>Code postal</p>
                                                </div>
                                                <div class="col-md-7  input_select_main ">
                                                    <div class="form-group matier_select">
                                                        <select class="custom-select" required>
                                                            <option value=""></option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-5 form_text">
                                                    <p>Ville</p>
                                                </div>
                                                <div class="col-md-7  input_select_main ">
                                                    <div class="form-group matier_select">
                                                        <select class="custom-select" required>
                                                            <option value=""></option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    <div class="invalid-feedback">Example invalid custom select feedback</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-3 ">
                                                <div class="col-md-5 form_text">
                                                    <p>Téléphone</p>
                                                </div>
                                                <div class="col-md-7  phone_input input-group ">
                                                    <input id="" type="text" class="form-control" name="" placeholder="">
                                                    <span class="input-group-addon phone_input_position2"><i class="fas fa-phone"></i></span>
                                                </div>
                                            </div>
                                            <div class="row pt-3 ">
                                                <div class="col-md-5 form_text">
                                                <p>Fax</p>
                                                </div>
                                                <div class="col-md-7  phone_input input-group ">
                                                    <input id="" type="text" class="form-control" name="" placeholder="">
                                                    <span class="input-group-addon phone_input_position2"><i class="fas fa-print"></i></span>
                                                </div>
                                            </div>
                                            <div class="row pt-3 ">
                                                <div class="col-md-5 form_text">
                                                    <p>Site web</p>
                                                </div>
                                                <div class="col-md-7  phone_input input-group ">
                                                    <input id="" type="text" class="form-control" name="" placeholder="">
                                                    <span class="input-group-addon phone_input_position2"><i class="fas fa-globe-americas"></i></span>
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-5 form_text">
                                                    <p>Remarques</p>
                                                </div>
                                                    <div class="col-md-7 contact_form_textarea  form-group ">
                                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 pt-5">
                        <div class="row py-4">
                            <div class="col-md-3">
                                <div class="retourbutton">
                                    <button  type="button" class="btn btn-primary"><i class="fas fa-arrow-left"></i> RETOUR </button>
                                </div>
                            </div>
                            <div class="col-md-1"> </div>
                            <div class="col-md-3"> </div>
                            <div class="col-md-3">
                                <div class="annulerbutton">
                                    <button  type="button" class="btn btn-primary">ANNULER</button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="enregisterbutton">
                                    <button  type="button" class="btn btn-primary">ENREGISTRER</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}
