<div class="block-operation col-md-12 hide">
  <div class="col-md-12">
    <div class="row ">
      <div class="col-md-12">
        <div class="hero-callout">
          Block opération
        </div>
      </div>
    </div>
  </div>
</div>
