{% block header %}<section class="contact1_section1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3  p-0">
                <div class="contact1_logo ">
                    <img class="img-fluid w-50" src="{{ asset("assests/img/logo.png") }}" alt="">
                    {#<i class="fas fa-angle-left"></i>#}
                </div>
            </div>
            <div class="col-md-9 border_right">
                <div class="row">
                    <div class="col-md-3 p-0">
                        <div class="input-container contact1_input_container">
                            <i class="fas fa-search icon"></i>
                            <input class="input-field contact1_input_field" type="text" placeholder="Rechercher..." name="email">
                        </div>
                    </div>
                    <div class="col-md-7">

                    </div>
                    <div class="col-md-2">
                        <div class="contact1_logo2">
                            <img class="img-fluid" src="{{ asset("assests/img/profil.png") }}" alt=""><a href="#"><i class="fas fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
