{% block header %}<section class="contact1_section1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3  p-0">
                <div class="contact1_logo ">
                    <img class="img-fluid w-50" src="{{ asset("assests/img/logo.png") }}" alt="">
                    {#<i class="fas fa-angle-left"></i>#}
                </div>
            </div>
            <div class="col-md-9 border_right">
                <div class="row">
                    <div class="col-md-3 p-0">
                        <div class="input-container contact1_input_container">
                            <i class="fas fa-search icon"></i>
                            <input class="input-field contact1_input_field" type="text" placeholder="Rechercher..." name="email">
                        </div>
                    </div>
                    <div class="col-md-7">

                    </div>
                    <div class="col-md-2">
                        <div class="contact1_logo2 dropdown">
                            {% if app.user.imgUrl != null %}
                                <img  class="img-fluid" src="../../uploads/user-img/{{app.user.imgUrl}}" alt="your image" />
                            {% else %}
                                <img  class="img-fluid" src="{{ asset("img/circle.png") }}" alt="your image" />
                            {% endif %}
                            <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-angle-down"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/admin/profile">Profil</a>
                                <a class="dropdown-item" href="/admin/logout">Déconnexion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
