{% block leftbar %}
<div class="contact1_section2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 p-0">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action ">
                        <i class="fas fa-chart-line"></i> Tableau de bord
                    </a>
                    <a href="/admin/contact/list" class="list-group-item list-group-item-action {% if (app.request.attributes.get('_route') == 'contact_list') or (app.request.attributes.get('_route') == 'app_admin_contact_new') or (app.request.attributes.get('_route') == 'app_admin_contact_edit') %}active{% endif %}"><i class="fas fa-user-friends"></i> Contacts</a>
                    <a href="/admin/company/list" class="list-group-item list-group-item-action {% if (app.request.attributes.get('_route') == 'company_list') or (app.request.attributes.get('_route') == 'app_admin_company_new') or (app.request.attributes.get('_route') == 'app_admin_company_edit') %}active{% endif %}"><i class="fas fa-th"></i> Entreprises</a>
                    <a href="/admin/user/team" class="list-group-item list-group-item-action {% if (app.request.attributes.get('_route') == 'team_list') or (app.request.attributes.get('_route') == 'user_new') or (app.request.attributes.get('_route') == 'app_admin_user_edit') %}active{% endif %}"><i class="fas fa-user"></i> Équipe commerciale</a>

                    <a href="/admin/operation/" class="list-group-item list-group-item-action {% if (app.request.attributes.get('_route') == 'app_admin_operation_new') or (app.request.attributes.get('_route') == 'app_admin_operation_list') or (app.request.attributes.get('_route') == 'app_admin_operation_edit') %}active{% endif %} "><i class="fas fa-star"></i> Opérations</a>
                    <a href="/admin/parameter/" class="list-group-item list-group-item-action {% if app.request.attributes.get('_route') == 'parameter_list' %}active{% endif %} "> <i class="fas fa-cog"></i> Paramètres</a>
                </div>

            </div>

            <div class="col-md-9 left_border contact1_background_col9">
                <div class="row">                 

                            {% endblock %}
