{% block leftbar %}
<div class="contact1_section2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 p-0">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action ">
                        <i class="fas fa-chart-line"></i> Tableau de bord
                    </a>
                    <a href="/admin/contact/list" class="list-group-item list-group-item-action active"><i class="fas fa-user-friends"></i> Contacts</a>
                    <a href="/admin/company/list" class="list-group-item list-group-item-action"><i class="fas fa-th"></i> Entreprises</a>
                    <a href="/admin/user/team" class="list-group-item list-group-item-action"><i class="fas fa-user"></i> Équipe commerciale</a>
                    <a href="/admin/operation/list" class="list-group-item list-group-item-action "><i class="fas fa-star"></i> Opérations</a>
                    <a href="/admin/parameter/" class="list-group-item list-group-item-action "> <i class="fas fa-cog"></i> Paramètres</a>
                </div>

            </div>

            <div class="col-md-9 left_border contact1_background_col9">
                <div class="row">
                    <div class="col-md-3 p-0">
                        <div class="contacts1_text">
                            {% endblock %}
