<html>
<head>
    <title>Réinitialisation mot de passe</title>
</head>
<body style="max-width:800px;padding: 0;margin: 0;font-family: Arial,Helvetica,sans-serif;font-size: 14px;line-height: 20px;background:#058844;">
<div style="padding:10px;">
    <h1 style="font-size:20px;">Réinitialisation mot de passe</h1>
    <p style="font-size: 14px;">
        Bonjour {{ user.userFirstName }},<br />
        <a href="{{ resetLink }}">cliquez ici</a> pour réinitialiser votre mot de passe.<br />
        <br />
        - SmartLeads
    </p>
</div>
</body>
</html>
